In [213]:
# The code was removed by Watson Studio for sharing.

<H2>Data analysis project for Toronto</H2>
<p> We want to explore and cluster the neighborhoods in Toronto. </p>
<p> So let's get started:</p>

## Import the necessary packages

In [221]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
import json
import requests

# Adding wikitables library for getting table in wikipedia
!pip install wikitables
import wikitables as wk

print('Packages has been added!')

Requirement already satisfied: wikitables in /opt/conda/envs/Python36/lib/python3.6/site-packages (0.5.4)
Requirement already satisfied: requests>=2.9.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikitables) (2.21.0)
Requirement already satisfied: mwparserfromhell>=0.4.3 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from wikitables) (0.5.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.9.1->wikitables) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.9.1->wikitables) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.9.1->wikitables) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests>=2.9.1->wikitables) (2019.6.16)
Packages has been added!

<h1>First part</h1>

## Getting the data

Lets first get tables of the page using wikitables library. Using wikitables you can extract the table you need with few lines of codes instead of using api directly.

In [222]:
page_tables = wk.import_tables('List_of_postal_codes_of_Canada:_M') # Getting the page tables as an object
Toronto_table = page_tables[0].json() # Getting first table of the page and convert it to json
df = pd.read_json(Toronto_table) # Our dataframe
df = df[['Postcode', 'Borough', 'Neighbourhood']] # Just to sort them

As you Can see we have our table pretty easy and that's all you need!

In [223]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

## 1. Droping NOT assigned neighborhoods

In [224]:
df = df[df.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

## 2. Merging duplicate rows

In [225]:
# Merging Neighbourhoods for same post codes and getting combining them in a single row
df['Neighbourhood'] = df[['Postcode', 'Borough', 'Neighbourhood']].groupby(['Postcode'])['Neighbourhood'].transform(lambda x: ', '.join(x))

# Dropping duplicate rows
df = df.drop_duplicates()

In [227]:
df.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto         Harbourfront, Regent Park
6      M6A        North York  Lawrence Heights, Lawrence Manor
8      M7A      Queen's Park                      Not assigned

## 3. Changing Not assigned Neighbourhoods to their borough name

In [243]:
df.loc[df.Neighbourhood == 'Not assigned', 'Neighbourhood'] = df.Borough

In [245]:
df.head()

  Postcode           Borough                     Neighbourhood
2      M3A        North York                         Parkwoods
3      M4A        North York                  Victoria Village
4      M5A  Downtown Toronto         Harbourfront, Regent Park
6      M6A        North York  Lawrence Heights, Lawrence Manor
8      M7A      Queen's Park                      Queen's Park